.loader {
  position: fixed;
  inset: 0;
  background-color: #fffd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-direction: column;
}

.loader--message {
  font-size: 1.125rem;
}
