* ::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    Ubuntu,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

h1 {
  margin: 0;
}

.page-title {
  font-size: 1.5rem;
}
