.main-container {
  padding: 0 10px 130px 10px;
}

.Toastify__toast-container--top-center {
  transform: none;
}

.Toastify__toast-container {
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  width: 100%;
  background-color: #ffffffb3;
}

.Toastify__toast {
  display: flex;
  font: inherit;
  font-size: 1.125rem;
  padding: 15px;
  border-radius: 20px;
  width: 170px;
  height: fit-content;
  margin: 0;
}

.Toastify__toast-icon {
  width: 50px;
  aspect-ratio: 1;
  background: 0;
  margin: 0;
}

.Toastify__toast-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.Toastify__toast-icon {
  display: flex;
  justify-content: center;
}
