.team-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.team-form__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-form__riders-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-form__official-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.team-form__input {
  background-color: #f7f7f7;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px 10px;
}

.team-form__input:focus {
  border: 2px solid var(--button-main-color);
  outline: none;
}

.team-form__details {
  font-size: 0.875rem;
  color: #666;
}

.team-form__checkbox {
  width: 24px;
  aspect-ratio: 1;
  margin: 0;
  background-color: #fff;
  cursor: pointer;
  border-radius: 8px;
  padding: 0;
}

.team-form__checkbox:checked::after {
  display: flex;
  justify-content: center;
  content: "✔";
  color: var(--button-secondary-main-color);
}

.team-form__description {
  line-height: 1.5;
  min-height: 80px;
}

.button__form {
  width: 120px;
  background-color: var(--button-secondary-main-color);
}
